<div class="flex justify-between items-center p-4 border rounded-xl hover:bg-gray-50">

  <div>
    <p class="font-semibold"><%= item.title %></p>
    <p class="text-sm text-gray-400"><%= item.category %></p>
  </div>

  <p class="text-red-500 font-bold">
    <%= item.amount %> VND
  </p>

</div>